# Final Project Submission

# Overview

This notebook helps understand how the company's entry into film production will profitable considering box office trends. we will be able to analyze top performing genres by their gross revenues showing genres that have good story lines are more likely to do well financially. We shall also look at the relationship between genre and audience ratings which is vital for future analsis and relate how revenue by studio affects the decision making of the company.

Business Problem

Your company now sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of your company's new movie studio can use to help decide what type of films to create.

## Data cleaning and preparation

Objectives.
1. The trend in the movie sales overtime
2. Market segments to venture in.
3. Genres and the differences in popularity
4. Runtime effect on popularity

In [3]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm
import zipfile

In [5]:
#Loading the data
with zipfile.ZipFile("../DATA/bom.movie_gross.zip","r") as z:
    with z.open("bom.movie_gross.csv") as f:
        df1 = pd.read_csv(f)
df1.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010